<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= render @produtos %>
    </tbody>
</table>

<%= button_to "Voltar para o index", root_url, method: :get, class:"btn btn-primary" %>