<% if flash[:notice] %>
    <div class="alert alert-success">
        <%= flash[:notice] %>
    </div>
<% end %>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>       
        <%= render @produtos_nome %>
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= render @produtos_preco %>
    </tbody>
</table>

<%= button_to "Cadastrar nova camiseta", new_produto_path, method: :get, class: "btn btn-primary" %>
